<!-- PARTIAL FOR INDEX OF ARTICLES -->
<div align="center" id="create-button"> 
      <% if logged_in? %>
        <%= link_to "Create New Article", new_article_path, class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= nil %>
      <% end %>
      
      <%= link_to "Categories", categories_path, class: "btn btn-lg btn-primary" %>
    </div>
  <!-- Because there's |article| as the key, we have to refer to each article as (article) not (@article)-->
  
  <% obj.each do |article| %>
     <div class="row">
        <div id="article-index-div" class="col-xs-8">
          <div class= "well well-lg">
            <div class= "article-title">
              <%= link_to article.title, article_path(article) %>
            </div>
          
            <div class="article-teaser-body">
              <%= truncate(strip_tags(article.description), length: 280) %>
              
              <div class= "article-meta-details">
                <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
                       Last updated: <%= time_ago_in_words(article.updated_at) %> ago 
                </small>
            
             
           <div class="article-actions">
              <% if article.categories.any? %>
                <p> Categories: <%= render article.categories %> </p>
              <% end %>
              <% if logged_in? %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
              <%= link_to "Destroy", article_path(article), method: :delete,
              
                                          data: {confirm: "Are you sure you want to delete the article?"},
                                          class: "btn btn-xs btn-danger" %>
              <% else %>
            <%= nil %>
          <% end %>
              
                                          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </br>
  
  <% end %>