<% if @article.errors.any? %>
<h2>Error Saving Article</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


 <!--the form_for helpers are rails view helpers for generating form markup; read more at guides.rubyonrails.org/form_helpers.html -->
    <!--The @article instance variable will be initiated in the articles_controller.rb -->

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for @article do |f| %>
      <div class='form-group'>
          <div class='control-label col-sm-2'>
            <%= f.label :title %>
          </div>  
            <div class='form-control form-control-lg'>
            <%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
            </div>
            </div>
          

      
      <p>
        <%= f.label :description %> </br>
        <%= f.text_area :description%>
        
        <!--the text_area creates a bigger box than text_field -->
      </p>
        
      <p>
        <%= f.submit %> 
      </p>
    
    <% end %>
    
    <%= link_to "Back to Articles Listing", articles_path %>

  </div>
</div>