<!-- ARTICLE SHOW PAGE -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">
  
    <div class="well col-xs-8" id="article-show-div">
      <h2 id="showpage-title" align="center"><%= @article.title %> </h2><hr>
        <%= simple_format(@article.description) %>
        <% if @article.categories.any? %>
          <p>Categories: <%= render @article.categories%></p>
        <% end %>
      
      <div class="article-actions">
        <% if logged_in? %>
        <%= link_to "Edit this Article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete this Article", article_path(@article), method: :delete,
            data: {confirm: "Are you sure you want to delete the article?"},
            class: "btn btn-xs btn-danger" %>
                                          
        <%= link_to "View all Articles", articles_path, class: "btn btn-xs btn-success"%>
        
        <% else %>
        <center><%= link_to "View all Articles", articles_path, class: "btn btn-xs btn-success"%></center>
        <% end %>
        
      </div>  
    </div>
</div>
  
