<html lang="en">
  <title>alextheyounger.com</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  
  <body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
         <div class="container-fluid">
            <h1 class="display-3" id="display-3">Alex Younger</h1>
            <p class="col-xs-5" id="HeaderSub">I build websites/applications and write articles that make you think. It is what it is, and it's pretty good. </p>
          </div> 
        </div>
  
   
   
  <%= if @articles.any? 
     then @articles.each do |article|%>
  
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class= "well well-lg">
          <div class= "article-title" id="post-title">
            <%= link_to article.title, article_path(article) %>
          </div>
        
          <div class="article-body">
            <%= truncate(article.description, length: 100) %>
            <div class= "article-meta-details">
              <small>Created<%#= article.user.username if article.user %>
                                <%= time_ago_in_words(article.created_at) %> ago, 
                                Last updated: <%= time_ago_in_words(article.updated_at) %> ago </small>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



        
        

        <hr>

    </main>
    
  </body>
  <% end %>
  <% end %>