<h1 align="center" id="page-header">Playground</h1>
<p align="center" id="need-font" style="font-size: 18px;">A space for random, fun, interactive projects</p>

  <!-- stock lookup -->
<h3 align="center" id="need-font" style="margin-top: 1.5cm; font-size: 28px;">Search for Stocks</h3>
    <div>
      <%= form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do %>
        <div id="stock-lookup" class="form-group row no-padding text-center col-md-10">
          <div class="col-md-8">
            <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true,
                                        class: "form-control search-box input lg" %>
          </div>
          <div class="col-md-2">
            <%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>
              <i class="fa fa-search"></i> Search Stock Prices
            <% end %>
          </div>
          <% end %>
        </div>
      <div id="results">
        <%= render 'layouts/result' %>
      </div>
  <!-- end stock-lookup -->
  
  <!-- watchlist -->
  <h3 align="center" id="need-font" style="margin-top: 2cm; font-size: 28px;">My Stock WatchList</h3>
  <%= render 'user_stocks/watchlist'%>
  <!-- end watchlist -->


  <!--map-->
  <div>
    <iframe id="map" src="https://www.google.com/maps/d/embed?mid=1xjnP9IvzZ5YARi0kVmI3FsPeLi7Yb0y9" 
    width="700" height="480"></iframe>
  </div>
  <!-- end map -->
  
  <!--quote generator-->
  <div id="quote-generator">
    <h2>My Favorite Quotes</h2>
      <div id="quoteContainer">
      <p></p>
    <p id="quoteGenius"></p>      
  </div><!--end quoteContainer-->
      
  <div id="buttonContainer">
      <a href="#" id="quoteButton">Quote Me</a>
  </div><!--end buttonContainer-->
  </div><!--end quote generator-->
  

  
</div>
<%#= javascript_include_tag('quote_generator.js')%>
<%#= javascript_include_tag('result.js')%>