<h1 align="center" id="page-header" style="margin-bottom: 30px;">
  My Projects
</h1>

<div class"container-fluid" id="project-box">
  <h1 align="center" id="project-title">
    <a href="http://www.smartereverypage.com/">Smarter Every Page</a>
  </h1>
    <a href="http://www.smartereverypage.com/">
      <%=image_tag("smartereverypagelogo1.png", id: "project-banner", :alt=> "smarter every page") %>
    </a>
    <p id="project-text" align="center">I created this online book library to display the most sophisticated peices of literature for
                                        those who want to learn.</p>
</div>
</br>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
    <a href="https://mccarty-maintenance.herokuapp.com/">McCarty Maintenance & Mowing Website</a>
  </h1>
    <a href="https://mccarty-maintenance.herokuapp.com/">
      <%=image_tag("mccarty-mowing-project.png", id: "project-banner", :alt=> "mccarty banner") %>
    </a>
    <p id="project-text" align="center">I created this website for a client from the ground up in two weeks.</p>
</div>
</br>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
    <a href="http://www.alextheyounger.me/articles/68">Creating Your Own Stock Watchlist</a>
  </h1>
    <a href="http://www.alextheyounger.me/articles/68">
      <%=image_tag("watchlist_sm.png", id: "project-banner", :alt=> "watchlist banner") %>
    </a>
</div>
</br>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
    <a href="http://www.alextheyounger.me/articles/67">Creating Stock Price Lookup Using Stock_Quote Gem</a>
  </h1>
    <a href="http://www.alextheyounger.me/articles/67">
      <%=image_tag("stock_lookup_sm.png", id: "project-banner", :alt=> "stock_lookup_banner") %>
    </a>
</div>
</br>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
       <a href="http://www.alextheyounger.me/articles/20">Creating Your Own Medium.com API</a>
  </h1>
    <a href="http://www.alextheyounger.me/articles/20">
     <%= image_tag("medium_banner.png", id: "medium-banner", :alt => "medium_banner") %>
     </a>
   
</div>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
       <a href="tylermwllc.com">TylerMW LLC Photography Website</a>
  </h1>
    <a href="tylermwllc.com">
     <%= image_tag("tylermwllc_sm.png", id: "medium-banner", :alt => "tylermwllc.com") %>
     </a>
   
</div>