<!-- POST INDEX -->
<body>
 <a href="https://medium.com/@AlextheYounger" align="center">
   <%= image_tag("medium_banner.png", :alt => "medium_banner", align: "center", id: "medium-banner") %>
 </a>
 
  <% @posts.each do |post|%>
    <div class="row">
      <div id="article-index-div" class="col-xs-8">
        <div class= "well well-lg">
          <div class= "article-title">
            <a href=<%="#{post.link}"%>> <%="#{post.title}"%></a>
          </div>
          
          <div>
            <p><%= sanitize(truncate(strip_tags("#{post.content}"), length: 280)) %></p>
          </div>
          
          <div class= "article-meta-details">
            <small>
              Created <%= time_ago_in_words "#{post.pubDate}"%> ago
            </small>
          </div>
        </div>  
      </div>
    </div>
  </br>
  <% end %>
    
    <center><a class="btn btn-lg btn-success" href="https://medium.com/@AlextheYounger/latest" role="button">
      View All Posts</a></center>
</body>