<!-- CATEGORIES INDEX -->

<h1 id="page-header" align="center">Today I Learned, In:</h1>


<% @categories.each do |category| %> <!-- Mind the %= -->
      <div class="row">
        <div id="category-div" class="col-xs-4">
          <div class= "well well-lg">
            <div class= "article-title">
              <%= link_to "#{category.name}", category_path(category) %>
            </div>
            <div align="center">
              <small><%= pluralize(category.articles.count, "article") %></small>
            </div>
            <div align="center" class="article-actions">
              <% if logged_in? %>
              <%= link_to "Edit Category Name", edit_category_path(category), class: "btn btn-xs btn-primary" %>
              <% else %>
            <%= nil %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </br>
<% end %>

<div class="col-cs-4" align="center">
    <%= link_to "Cancel Request and Return to Articles Listing", articles_path %>
</div>