<nav class="navbar navbar-default">
          <div class="navbar-header">
            <button id="navbar-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "HOME", root_path, class: "navbar-brand", id: "logo" %>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right" id="right-menu">
              <li><%= link_to "ABOUT", about_path %></li>
              <li><%= link_to "BLOG", posts_path %></li>
              <li><%= link_to "READING LIST", readinglist_path %></li>
              <li><%= link_to "TODAY I LEARNED", articles_path  %></li>
              <li><%= link_to "PROJECTS", projects_path  %></li>
              <li role="separator" class="divider"></li>
                <% if logged_in? %>
                  <li><%= link_to "LOG OUT", logout_path, method: :delete  %></li>
                <% else %>
                  <%= nil %>
                <% end %>
              </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>