<% if @stock %>
    <div class="well results-block">
      <strong>Symbol: </strong><%= @stock.company_name%>
      <strong>Name: </strong><%= @stock.symbol%>
      <strong>Price: </strong><%= @stock.latest_price%>&nbsp;
      <% if logged_in? %>
        <%= link_to "Add to WatchList", user_stocks_path(user: current_user, stock_symbol: @stock.symbol),
                                                          class: "btn btn-xs btn-success", method: :post %>
      <% else %>
        <%= nil %>
    </div>
    <% end  %>
<% end %>
  
<% flash.each do |name, msg| %>
  <% if flash[:danger]%>
    <ul id="stock-danger" class="alert alert-danger">                              
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>
