<!--This is a wrapper file. Changes made to this page will render throughout every page of the app. Great place for navbar, ect. -->
<!DOCTYPE html>
<html>
<head>

  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  

</head>
<body>
  <% flash.each do |name, msg| %>
  <ul>                              <!-- This block of code will create allow a message to be created on each page
                                        specifically the error messages from failure to save an article to the database-->
    <li><%= msg %></li>
  </ul>
  <% end %>
<%= yield %>



</body>
</html>















