<!--This is a wrapper file. Changes made to this page will render throughout every page of the app. Great place for navbar, ect. -->
<!DOCTYPE html>
<html>
<head>

  <title>alextheyounger.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  
  
  

</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %> <!-- This renders the messages partial all throughout the application --> 
  <%= yield %>  <!--This code allows this file to wrap all other views in the application -->



</body>

<footer>
  <%= render 'layouts/footer' %>
  <%#= debug(params) if Rails.env.development? %>
</footer>
</html>















